.RProj.user
.Rproj.user
*.html
.Rproj.user
*.npz
*.pdf
*.pyc
*.jpg
env.sif
data/*
!data/SimA/
!data/SimA/*
data/SimA/*/

!data/SimB/
!data/SimB/*
data/SimB/*/

!data/SimC/
!data/SimC/*
data/SimC/*/

!data/SimD/
!data/SimD/*
data/SimD/*/

!data/SimE/
!data/SimE/*
data/SimE/*/

!data/SimF/
!data/SimF/*
data/SimF/*/

!data/SimF2/
!data/SimF2/*
data/SimF2/*/

!data/SimF3/
!data/SimF3/*
data/SimF3/*/

!data/SimG/
!data/SimG/*
data/SimG/*/