.RProj.user
.Rproj.user
*.html
.Rproj.user
*.npz
*.pdf
*.pyc
*.jpg
*.tex
env.sif

data/*
output

!data/SimMCAR/
!data/SimMCAR/*
data/SimMCAR/*/

!data/SimMAR/
!data/SimMAR/*
data/SimMAR/*/

!data/SimMNAR/
!data/SimMNAR/*
data/SimMNAR/*/

!data/SimMNARBIG/
!data/SimMNARBIG/*
data/SimMNARBIG/*/

!data/SimNL/
!data/SimNL/*
data/SimNL/*/

real_datasets_results/preds/*
icml_real_datasets
icml_real_datasets_results
icml_other_datasets
icml_other_datasets_results

.DS_Store