.RProj.user
.Rproj.user
*.html
.Rproj.user
*.npz
*.pdf
*.pyc
*.jpg
env.sif

data/*
output

!data/SimMCAR/
!data/SimMCAR/*
data/SimMCAR/*/

!data/SimMAR/
!data/SimMAR/*
data/SimMAR/*/

!data/SimMNAR/
!data/SimMNAR/*
data/SimMNAR/*/

!data/SimMNARBIG/
!data/SimMNARBIG/*
data/SimMNARBIG/*/

!data/SimNL/
!data/SimNL/*
data/SimNL/*/
